.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  height: 60px;
  padding: 0 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  flex-shrink: 0; /*헤더높이 안줄어들게*/
}

.main-content{
  flex: 1;
  overflow: hidden;
}

.logo-image {
  height: 40px;
}
