.login-box{
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-title {
    font-size: 36px;
    font-weight: 700;
    color: #5D80B6;
    margin-bottom: 40px;
}

.login-input {
    display: block;
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
}

.login-input::placeholder {
    color: #bfbfbf;
}

.login-button {
    width: 100%;
    background-color: #5D80B6;
    color: #FDFDFE;
    padding: 14px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

.login-button:hover {
    background-color: #4c5fa0;/*호버는 색상 보고 바꾸기*/
}

.signup-text {
    margin-top: 20px;
    color: #ABBDD2;
    font-size: 14px;
    cursor: pointer;
}

.signup-text:hover {
    text-decoration: underline;
}
