/* MainPage 전체 컨테이너 */
.main-page-container {
  display: flex;
  height: 100%;
  width: 100%;
}

/* 왼쪽 메인 컨텐츠 영역 (채팅 + 감정 버튼) */
.content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.chat-wrapper {
  flex: 1;
  overflow-y: auto; /* 내용이 길어지면 스크롤 생성 */
}

/* 감정 버튼을 감싸는 wrapper */
.emotion-wrapper {
  padding-top: 10px; 
}